In [25]:
# !python3 -m pip install python-dotenv
# !python3 -m pip install NumPy

In [26]:
import os
from hdbcli import dbapi
from dotenv import load_dotenv

In [27]:
# testing out that reading from .env works as expected
load_dotenv()
os.environ.get("TEST")

'mltestbed'

In [28]:
# Connection constants for space PYTHONCODESAMPLES
dbHost="9ee99a70-9d98-481d-ab94-00b0417b66c5.hana.prod-eu10.hanacloud.ondemand.com" #you should have noted them above
dbPort=443
dbUser="SP_PROJECTTEST#PYTHON"
dbPwd=os.environ.get("HANA_PWD_PYTHONCODESAMPLES")  #load pwd from .env file
dbIngestionSchema="SP_PROJECTTEST#PYTHON"
dbConsumptionSchema="SP_PROJECTTEST"
dbExampleTable="V_World_GDP_RAW"
dbExampleView="V_SalesOrder_CV"

In [29]:
#Import your dependencies
import platform
from hdbcli import dbapi

#verify that this is a 64 bit version of Python
print ("Platform architecture: " + platform.architecture()[0])

#Initialize your connection
conn = dbapi.connect(
    address=dbHost,
    port=dbPort,
    user=dbUser,
    password=dbPwd, 
    encrypt=True, # must be set to True when connecting to HANA Cloud
    sslValidateCertificate=False # True HC, False for HANA Express.
)
#If no errors, print connected
print('connected')

Platform architecture: 64bit
connected

In [30]:
cursor = conn.cursor()
sql_command = f'select * from "{dbConsumptionSchema}"."{dbExampleView}"'
print(sql_command)
cursor.execute(sql_command)
rows = cursor.fetchall()
count = 0

for row in rows:
    if count == 10:
        break

    for col in row:
        print("%s" % col, end=" ")
    print(" ")

    count += 1

select * from "SP_PROJECTTEST"."V_SalesOrder_CV"
0500000111 0000000010 RC-1054 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 5499 4811.63 687.37 2 71749 62780.45 8968.37
0500000111 0000000020 MB-1033 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 3999 3499.13 499.87 3 71749 62780.45 8968.37
0500000111 0000000030 BX-1011 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 249 217.87 31.12 10 71749 62780.45 8968.37
0500000111 0000000040 MB-1032 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 1299 1136.63 162.37 9 71749 62780.45 8968.37
0500000111 0000000050 HB-1172 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 799 699.12 99.87 3 71749 62780.45 8968.37
0500000111 0000000060 DB-1081 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 1499 1311.63 187.37 6 71749 62780.45 8968.37
0500000111 0000000070 HB-1171 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 699 611.62 87.37 5 71749 62780.45 8968.37
0500000111 0000000080 RC-1055 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 1999 1749.13 249.87 4 71749 62780.45 8968.37
0500000111 0000000090 MB-1032 None USD I None EA 2018-08-21 0500000111 0000000005 2018-06-12 0000000005 2018-06-16 K4 2018006 None 0100000020 APJ USD C C C 1299 1136.63 162.37 9 71749 62780.45 8968.37
0500000360 0000000010 RC-1053 None USD I None EA 2019-08-08 0500000360 0000000006 2019-06-07 0000000006 2019-06-11 K4 2019006 None 0100000006 EMEA USD C C C 4599 4024.13 574.87 2 56901 49788.27 7112.53

In [31]:
from hana_ml import dataframe
from hana_ml.dataframe import ConnectionContext


conn = dataframe.ConnectionContext(address=dbHost,
    port=dbPort,
    user=dbUser, 
    password=dbPwd)

In [51]:
df = conn.sql(sql_command)
data = df.collect()

In [52]:
import pandas
###### Use case (1) Add calculated column 'Deal_Type'########

bins = [0, 500, 1000, 5000, 10000]
labels = ['small deal', 'mid-size deal', 'big deal', 'huge deal']
data['Deal_Type'] = pandas.cut(data['NETAMOUNT'], bins=bins, labels=labels)
data.head(10)

,SALESORDERID,SALESORDERITEM,PRODUCTID,NOTEID,CURRENCY,ITEMATPSTATUS,OPITEMPOS,QUANTITYUNIT,DELIVERYDATE,SALESORDERID_1,...,BILLINGSTATUS,DELIVERYSTATUS,GROSSAMOUNT,NETAMOUNT,TAXAMOUNT,QUANTITY,GROSSAMOUNT_1,NETAMOUNT_1,TAXAMOUNT_1,Deal_Type
0,0500000111,0000000010,RC-1054,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,5499,4811.63,687.37,2,71749,62780.45,8968.37,big deal
1,0500000111,0000000020,MB-1033,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,3999,3499.13,499.87,3,71749,62780.45,8968.37,big deal
2,0500000111,0000000030,BX-1011,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,249,217.87,31.12,10,71749,62780.45,8968.37,small deal
3,0500000111,0000000040,MB-1032,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,1299,1136.63,162.37,9,71749,62780.45,8968.37,big deal
4,0500000111,0000000050,HB-1172,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,799,699.12,99.87,3,71749,62780.45,8968.37,mid-size deal
5,0500000111,0000000060,DB-1081,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,1499,1311.63,187.37,6,71749,62780.45,8968.37,big deal
6,0500000111,0000000070,HB-1171,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,699,611.62,87.37,5,71749,62780.45,8968.37,mid-size deal
7,0500000111,0000000080,RC-1055,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,1999,1749.13,249.87,4,71749,62780.45,8968.37,big deal
8,0500000111,0000000090,MB-1032,None,USD,I,None,EA,2018-08-21,0500000111,...,C,C,1299,1136.63,162.37,9,71749,62780.45,8968.37,big deal
9,0500000360,0000000010,RC-1053,None,USD,I,None,EA,2019-08-08,0500000360,...,C,C,4599,4024.13,574.87,2,56901,49788.27,7112.53,big deal

In [53]:
###### Use case (2a) Segment data in to buckests based on deal type ########

segments = data.groupby("Deal_Type")["Deal_Type"]
segments.describe()

              count unique            top  freq
Deal_Type
small deal      606      1     small deal   606
mid-size deal   446      1  mid-size deal   446
big deal       1338      1       big deal  1338
huge deal        65      1      huge deal    65

In [54]:

###### Use case (2 b) Segment data in to buckests based on deal type ########
# Other ways of doing a same thing, pandas cut, groupby size unstack to segmentation 

sg_bins = pandas.cut(data['NETAMOUNT'], bins)

sg = data.groupby(['Deal_Type', sg_bins])  
sg.size().unstack()

NETAMOUNT      (0, 500]  (500, 1000]  (1000, 5000]  (5000, 10000]
Deal_Type
small deal          606            0             0              0
mid-size deal         0          446             0              0
big deal              0            0          1338              0
huge deal             0            0             0             65

In [55]:
###### Use case (3) Add calculated column 'US_Delivery Date'########
# Data converstion to mm.dd.yyyy format
data['US_DELIVERYDATE'] = pandas.to_datetime(data['DELIVERYDATE'], errors = 'coerce').dt.strftime('%m-%d-%Y')

# pd['US_DELIVERYDATE'] = pd['DELIVERYDATE']

data.head(10)

,SALESORDERID,SALESORDERITEM,PRODUCTID,NOTEID,CURRENCY,ITEMATPSTATUS,OPITEMPOS,QUANTITYUNIT,DELIVERYDATE,SALESORDERID_1,...,DELIVERYSTATUS,GROSSAMOUNT,NETAMOUNT,TAXAMOUNT,QUANTITY,GROSSAMOUNT_1,NETAMOUNT_1,TAXAMOUNT_1,Deal_Type,US_DELIVERYDATE
0,0500000111,0000000010,RC-1054,None,USD,I,None,EA,2018-08-21,0500000111,...,C,5499,4811.63,687.37,2,71749,62780.45,8968.37,big deal,08-21-2018
1,0500000111,0000000020,MB-1033,None,USD,I,None,EA,2018-08-21,0500000111,...,C,3999,3499.13,499.87,3,71749,62780.45,8968.37,big deal,08-21-2018
2,0500000111,0000000030,BX-1011,None,USD,I,None,EA,2018-08-21,0500000111,...,C,249,217.87,31.12,10,71749,62780.45,8968.37,small deal,08-21-2018
3,0500000111,0000000040,MB-1032,None,USD,I,None,EA,2018-08-21,0500000111,...,C,1299,1136.63,162.37,9,71749,62780.45,8968.37,big deal,08-21-2018
4,0500000111,0000000050,HB-1172,None,USD,I,None,EA,2018-08-21,0500000111,...,C,799,699.12,99.87,3,71749,62780.45,8968.37,mid-size deal,08-21-2018
5,0500000111,0000000060,DB-1081,None,USD,I,None,EA,2018-08-21,0500000111,...,C,1499,1311.63,187.37,6,71749,62780.45,8968.37,big deal,08-21-2018
6,0500000111,0000000070,HB-1171,None,USD,I,None,EA,2018-08-21,0500000111,...,C,699,611.62,87.37,5,71749,62780.45,8968.37,mid-size deal,08-21-2018
7,0500000111,0000000080,RC-1055,None,USD,I,None,EA,2018-08-21,0500000111,...,C,1999,1749.13,249.87,4,71749,62780.45,8968.37,big deal,08-21-2018
8,0500000111,0000000090,MB-1032,None,USD,I,None,EA,2018-08-21,0500000111,...,C,1299,1136.63,162.37,9,71749,62780.45,8968.37,big deal,08-21-2018
9,0500000360,0000000010,RC-1053,None,USD,I,None,EA,2019-08-08,0500000360,...,C,4599,4024.13,574.87,2,56901,49788.27,7112.53,big deal,08-08-2019

In [144]:

sql_command_gdp = f'select * from "{dbConsumptionSchema}"."{dbExampleTable}"'
print(sql_command_gdp)
print()
cursor.execute(sql_command_gdp)
rows = cursor.fetchall()
count = 0

for row in rows:
    if count == 10:
        break

    for col in row:
        print("%s" % col, end=" ")
    print(" ")

    count += 1

select * from "SP_PROJECTTEST"."V_World_GDP_RAW"

None None None None None None None None None None None None None None None None None None None None None None None None None None 6283.001443 7567.253642 9274.514156 10767.39622 11638.73371 12850.21571 13657.67064 14970.15234 16675.27849 17140.43337 17375.22531 18713.42539 19742.31674 19833.82675 21023.15751 20913.2995 21377.09519 22050.83093 24104.64618 24975.67326 25833.44562 27665.42647 29011.55925 25739.13725 24452.92836 26044.43593 25609.95572 26515.67808 26942.30798 28421.38649 28451.27374 29326.70806 30220.59452 31650.76054 24487.86356 29342.10086 Aruba ABW
162.9130345 162.551683 172.00246 199.1892382 179.3877989 198.2303679 209.4146653 211.7070603 224.2397833 249.5891331 260.1210841 278.761746 293.0858157 370.4270504 444.7328661 459.9117509 444.0905654 489.8633813 530.3907202 600.3912121 738.8987409 732.9434186 681.673765 692.0086402 615.4319578 508.7120317 552.5549671 654.337932 697.2411233 722.4517041 817.175973 858.3265971 728.7901947 704.7664831 697.2063803 762.8690829 739.4931754 757.8776349 696.3975587 669.7138659 707.0157522 628.2252416 626.5808526 812.9736448 985.563259 1120.484333 1226.223569 1369.855328 1428.382728 1411.62246 1643.605569 1792.907505 1759.182395 1730.394686 1719.183721 1538.552268 1443.692371 1628.586788 1564.73434 1512.270553 1363.540741 1549.77273 Africa Eastern and Southern AFE
62.36937451 62.44370346 60.95036382 82.02173758 85.51107341 105.2431957 143.1032332 167.1656746 134.0127683 134.2503596 162.6421754 166.2248313 141.3653223 149.7440685 181.598776 194.6690362 205.6740967 232.7786988 255.0456222 284.7555317 291.649791 311.853617 None None None None None None None None None None None None None None None None None None None None 183.5327752 200.4625667 221.6576042 255.05512 274.0004865 375.0781281 387.8491743 443.8451505 554.5952002 621.9123109 663.1410528 651.9878619 628.1468039 592.4765375 520.252064 530.1498308 502.0567706 500.5226641 516.8665522 368.7546142 Afghanistan AFG
106.9764749 112.0475613 117.7306332 122.278715 130.5999626 137.1861423 142.895375 127.3036057 128.3654944 142.3259039 193.5733562 167.5525245 198.3680242 239.5302911 330.0724177 374.0112725 439.827935 450.067013 477.1885301 577.5354799 709.8423973 1299.896411 1120.58396 805.0236628 649.0187615 644.3369904 578.8143502 578.3277306 555.9198811 505.3263387 589.158849 553.5912803 542.6635271 441.6055891 375.6675851 458.8342197 519.2522209 510.8855337 509.2584021 524.0951103 520.7865838 529.5849389 619.7732823 697.9052908 841.357961 1000.869581 1241.8519 1417.60505 1681.47768 1463.393293 1675.739572 1856.687669 1953.407033 2149.295219 2243.271464 1876.623483 1645.023767 1585.91193 1731.311792 1749.303317 1683.436391 1757.030626 Africa Western and Central AFW
None None None None None None None None None None None None None None None None None None None None 711.9411692 643.0528514 620.3631095 623.5339325 637.5197594 757.5817453 684.4435226 755.9219118 792.8610862 891.7435922 949.2863813 867.1234347 657.6533837 442.445234 329.6917841 398.1202225 523.2749398 514.3098866 423.3934528 387.6894148 556.8842437 527.4632018 872.6577717 982.8056006 1254.695563 1900.724725 2597.962682 3121.350475 4081.715004 3123.697586 3496.784796 4511.153227 4962.552072 5101.983876 5059.080441 3100.830685 1709.515534 2283.214233 2487.500996 2142.238757 1603.993477 1953.533757 Angola AGO
None None None None None None None None None None None None None None None None None None None None None None None None 639.4847358 639.8659094 693.8734746 674.7933831 652.7743214 697.9955966 617.2304355 336.5869945 200.8522198 367.2792251 586.4163396 750.6044492 1009.977275 717.3800477 813.7893966 1033.242532 1126.68334 1281.659826 1425.124219 1846.120121 2373.581292 2673.786584 2972.742924 3595.038057 4370.539925 4114.134899 4094.348386 4437.142612 4247.630047 4413.062005 4578.633208 3952.802538 4124.05539 4531.019374 5287.663694 5396.215864 5332.160475 6492.872012 Albania ALB
None None None None None None None None None None 3958.671001 4193.313027 4967.073929 6182.925544 7174.506645 7964.08272 7758.620353 8207.701488 9455.667022 12054.89819 12535.9048 10516.09299 9738.74181 8108.968959 7825.103466 7914.765568 10569.02958 12833.34522 14529.05988 15404.04215 19209.77584 19968.40536 21123.43369 17023.22258 16671.02125 18731.5502 19080.32108 18252.33098 18591.91234 18884.72021 21620.48502 22809.29187 24783.8365 31955.38802 37629.12896 39584.91575 43086.49983 50565.45648 53719.42127 49753.6906 48238.4661 51429.19192 44904.58004 44750.43568 45682.24623 38885.37601 39932.16449 40632.48439 42903.44358 41327.50203 37207.49386 42137.32727 Andorra AND
None None None None None None None None 302.5995803 320.5307655 352.3137119 395.6308701 458.1692835 564.7546713 1039.624713 1113.948038 1338.812986 1493.662392 1589.302936 2090.089949 2741.740907 2738.138793 2486.900951 2270.022967 2239.659468 2140.773841 2015.606344 2119.377769 1990.584538 2081.180305 2850.818507 2042.670201 2002.60465 1986.74107 2034.352511 2173.771277 2344.660309 2469.868096 2348.94244 2539.944886 2842.619272 2720.517427 2676.909578 2896.054824 3371.900995 4048.845578 4679.878185 5303.838216 6501.826712 5562.24771 6385.356001 6826.51552 7327.268826 7307.373017 7276.428999 6245.787785 6062.681557 6132.428354 6474.29534 6384.066321 5545.455246 6271.319001 Arab World ARB
None None None None None None None None None None None None None None None 27090.23748 31282.54997 35186.23204 29526.72188 34372.1663 42994.75809 44841.22974 39921.63298 34586.53181 31955.18125 29432.83121 23111.37838 23088.20417 21545.45558 23141.01477 26682.84981 25668.49332 25630.08097 25019.37236 25463.49629 27010.67819 28596.50683 28709.24692 25905.84338 27261.90657 31855.5006 29909.00943 30221.967 32607.37293 37017.73637 42190.55438 45339.58512 43918.38017 45140.76908 31722.58876 34165.91331 40893.02336 44386.78608 45729.60768 46865.9646 41525.1389 41054.53957 43063.96748 46722.26872 45376.17084 37629.17417 44315.55418 United Arab Emirates ARE
None None 1163.186836 855.2756565 1179.504098 1285.260799 1277.968419 1065.89852 1143.810428 1331.639709 1324.685288 1374.424233 1411.176664 2100.030587 2846.266307 2026.570709 1946.329391 2125.53222 2139.63793 2510.585576 2746.207484 2763.375182 2914.918251 3539.456782 2651.229542 2919.283585 3607.820561 3559.218959 3982.444402 2382.560951 4330.959441 5730.72381 6815.61829 6957.417499 7464.474737 7383.70451 7690.157003 8176.771195 8250.673174 7735.32208 7666.517834 7168.975872 2579.488769 3333.152904 4258.160261 5086.627761 5890.978002 7210.595548 8977.506851 8184.389889 10385.96443 12848.8642 13082.66433 13080.25473 12334.79825 13789.06042 12790.24247 14613.04182 11795.15939 9963.672506 8496.424142 10636.1202 Argentina ARG

In [163]:
df_gdp = conn.sql(sql_command_gdp)
data_gdp = df_gdp.collect()
# data_gdp

In [164]:
###### Use case (4) Unpivot GDP per capital data########
# Data source world bank, data product on market place is not working hence direct .csv upload


data_gdp_LT = data_gdp.melt(id_vars=['Country Code', 'Country Name'], var_name='YEAR', value_name='VALUE')
# data_gdp_LT
data_gdp_LT.head(10)
# pd_gdp_LT.at[1,'Country Code']

  Country Code                 Country Name  YEAR        VALUE
0          ABW                        Aruba  1960         None
1          AFE  Africa Eastern and Southern  1960  162.9130345
2          AFG                  Afghanistan  1960  62.36937451
3          AFW   Africa Western and Central  1960  106.9764749
4          AGO                       Angola  1960         None
5          ALB                      Albania  1960         None
6          AND                      Andorra  1960         None
7          ARB                   Arab World  1960         None
8          ARE         United Arab Emirates  1960         None
9          ARG                    Argentina  1960         None

In [165]:
import numpy as np
###### Use case (5) Data cleansing  using fillna with bfill, ffill is incorrect in the data context.

# data_gdp_LT.fillna(value=np.NaN , inplace=True)
# data_gdp_LT.fillna(method ='bfill' , inplace=True)

# Correct approach in datascience context is to delete the rows without GDP value

data_gdp_LT.dropna(subset=['VALUE'], inplace=True)

# Round off the GDP values to cieling limit 162.9130345 -> 163

data_gdp_LT['VALUE'] = data_gdp_LT['VALUE'].apply(np.ceil) 
# data_gdp_LT
data_gdp_LT.head(10)

   Country Code                 Country Name  YEAR VALUE
1           AFE  Africa Eastern and Southern  1960   163
2           AFG                  Afghanistan  1960    63
3           AFW   Africa Western and Central  1960   107
13          AUS                    Australia  1960  1811
14          AUT                      Austria  1960   936
16          BDI                      Burundi  1960    72
17          BEL                      Belgium  1960  1274
18          BEN                        Benin  1960    91
19          BFA                 Burkina Faso  1960    70
20          BGD                   Bangladesh  1960    85

In [166]:
###### Use case (6) Data Manipulation, Change Canada GDP value for 2021 to 9999.

df_before = data_gdp_LT.loc[(data_gdp_LT['Country Code'] == 'CAN') & (data_gdp_LT['YEAR'] == '2021')]

# Get access to the row Canada GDP 2021
print(df_before)

# Get access to the row Canada GDP 2021 and change VALUE only to 9999
data_gdp_LT.loc[(data_gdp_LT['Country Code'] == 'CAN') & (data_gdp_LT['YEAR'] == '2021'), 'VALUE'] = 9999

# Get access to the row Canada GDP 2021
df_after = data_gdp_LT.loc[(data_gdp_LT['Country Code'] == 'CAN') & (data_gdp_LT['YEAR'] == '2021')]
print(df_after)

      Country Code Country Name  YEAR  VALUE
16261          CAN       Canada  2021  51988
      Country Code Country Name  YEAR VALUE
16261          CAN       Canada  2021  9999